:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 16px;
}

.content {
  width: 100%;
  max-width: 480px;
  display: flex;
  gap: 16px;
}

h2 {
  margin-bottom: 0;
}

mat-list {
  max-height: 20rem;
  overflow-y: auto;
  width: 100%;
}

button {
  // the button gets this margin because to give
  // it uniformity with the mat-form-field which
  // has a subscript
  margin-bottom: var(--mat-form-field-subscript-text-line-height, var(--mat-sys-body-small-line-height));
}

@media screen and (max-width: 480px) {
  :host {
    flex-direction: column;
  }
  .content {
    flex-direction: column;
    max-width: 100%;
  }
  mat-list {
    max-height: 15rem;
  }

}
